body{
    background-color: rgb(0, 26, 63);
}
#encabezado{
    background-color: rgb(64, 0, 117);
    color: aliceblue;
    width: 1200px;
    border-radius: 50px;
    border-color: aqua;
    margin: auto;
}
.container{
    background-color: rgb(22, 2, 137);
    width: 1200px;
    margin: auto;
    color: aliceblue;
    border-radius: 20px;
    border-color: cornsilk;
    border-style: double;
    padding-left: 20px;
}
input{
    padding-left: 500px;
    color: aliceblue;
    text-align: center;
    width: 200px;
    height: 100px;

}
h3{
    text-align: center;
}
button{
    background-color: #4ae8d877;
    width: 80px;
    height:30px;
    border-radius: 0px;
    transition: 0.2s;
    border: 1px solid rgb(255, 0, 230);
    color: aliceblue;
    box-shadow: 0 0 .2rem #fff,
    0 0 0.3rem #ab4ae8,
    0 0 0.4rem #ab4ae8,
    0 0 0.5rem #ab4ae8,
    inset 0 0 0.6rem #ab4ae8; 
   

    

}

button:hover{
    color: white;
    transition: 0.2s;
    transition: 0.2s;
    border: 1px solid #fff;
    box-shadow: 0 0 .2rem #fff,
              0 0 0.3rem #ab4ae8,
              0 0 0.4rem #ab4ae8,
              0 0 0.5rem #ab4ae8,
              inset 0 0 0.6rem #ab4ae8; 
    border-radius: 20px;

    color: #fff;

}